---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
  background: #eee;
  font: 18px/1.4 $helvetica;
  font-family: 'Roboto', sans-serif;
  color: $darkGray;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
}

h1, h2, h3, h4, h5, h6, .read-more {
  color: $darkerGray;
  font-family: 'Roboto', sans-serif;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  em {
    font-style: normal;
    font-size: 16px;
    color: #aaa;
    text-transform: lowercase;
  }

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 30px;
  a {
    color: inherit;
  }
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

p {
  margin: 15px 0;
}

a {
  color: $blue;
  text-decoration: none;
  cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  color: #aaa;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 40px;

  background: #1a1a1a;
  border-bottom: 5px solid #00ace9;
}

.masthead {
  padding: 15px 0;

  @include mobile {
    text-align: center;
  }

  a:hover {
    color: $lightGray;
  }
}

.site-avatar {
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 10px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }

  img {
    border-radius: 2px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $lightGray;
  cursor: pointer;
  font-weight: 300;
  font-size: 28px;
  letter-spacing: 1px;
}

.site-description {
  margin: -5px 0 0 0;
  color: #aaa;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 23px; // @TODO: Vertically middle align
  font-size: 18px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: #aaa;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $lightGray;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 1em;
  border-bottom: 1px solid lighten(#00ace9, 35);
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  .entry {
      font-family: 'Roboto', sans-serif;
      font-size: 90%;

      > video {
        background: #000;
        width: 100%;
      }

      > h2 {
        padding-top: 10px;
        border-bottom: 1px solid rgba(0,0,0,0.1);
      }

      > h3 {
        border-bottom: 1px solid rgba(0,0,0,0.05);
      }

      > h4 {
        background: rgba($blue, 0.05);
        border-radius: 2px;
      }

      a {
        background: lighten($blue, 47);
        border-radius: 2px;
      }
  }

  img, video {
    display: block;
    max-width: 90%;
    margin: 0 auto;
    border-radius: 2px;
    border: 2px dashed rgba(0,0,0,0.08);
  }

  .title {
    line-height: 1.7;
  }

  .date {
    text-transform: lowercase;
  }

  > h4 {
    line-height: 0.4;
    margin-top: -10px;
    margin-bottom: 30px;
    color: #aaa;
  }

  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid #aaa;
    padding: 0.1em 1em;
    color: #aaa;
    font-size: 22px;
    font-style: italic;
  }
}

.wrapper-footer {
  margin-top: 30px;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  background-color: #ddd;
}

footer {
  padding: 15px 0;
  text-align: center;
}

.pagination {
    margin: auto;
    text-align: center;
    color: #444;
}

[data-aspect-ratio] {
    display: block;
    max-width: 100%;
    position: relative;

    &:before {
        content: '';
        display: block;
    }

    > * {
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
[data-aspect-ratio="3:1"]:before {
    padding-top: 33.33%;
}
[data-aspect-ratio="2:1"]:before {
    padding-top: 50%;
}
[data-aspect-ratio="16:9"]:before {
    padding-top: 56.25%;
}
[data-aspect-ratio="3:2"]:before {
    padding-top: 66.66%;
}
[data-aspect-ratio="4:3"]:before {
    padding-top: 75%;
}
[data-aspect-ratio="1:1"]:before {
    padding-top: 100%;
}
[data-aspect-ratio="3:4"]:before {
    padding-top: 133.33%;
}
[data-aspect-ratio="2:3"]:before {
    padding-top: 150%;
}
[data-aspect-ratio="9:16"]:before {
    padding-top: 177.77%;
}
[data-aspect-ratio="1:2"]:before {
    padding-top: 200%;
}
[data-aspect-ratio="1:3"]:before {
    padding-top: 300%;
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";